.PerformerSelect {
  margin-top: 0.5rem;

  &-list {
    margin: .5rem 0;
  }

  &-container {
    display: flex;
  }

  &-select {
    display: inline-block;
    margin-left: auto;
    width: 25rem;
  }
}
