.PerformerMerge {
  .PerformerCard {
    &-image {
      height: 8rem;
    }

    .card-footer {
      display: none;
    }
  }

  .TargetCard {
    .PerformerCard-image {
      border: 2px solid white;
    }
  }
}

.performer-photo {
  height: 470px;
  margin-top: 5px;
}

.performer-filter {
  width: 175px;
}

.performer-sort {
  width: 200px;

  select {
    -webkit-appearance: none;
  }
}

.PerformerScenes {
  .CheckboxSelect {
    position: absolute;
  }
}
