.TagSelect {
  margin-top: 0.5rem;

  &-list {
    margin-bottom: 1rem;
  }

  &-container {
    display: flex;
  }

  &-select {
    display: inline-block;
    margin-left: auto;
    width: 25rem;

    &-value {
      font-weight: 500;
    }

    &-subvalue {
      font-size: 12px;
      color: $text-muted;
    }
  }
}
