.BodyModification {
  &-remove {
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    width: 10%;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  &-select {
    width: 100%;
  }

  &-label {
    width: 90%;
  }

  &-location {
    display: inline-block;
    margin-right: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 30%;
  }

  .form-control {
    display: inline;
    width: 65%;
  }

  h6 {
    text-transform: capitalize;
  }
}

.ImageInput {
  position: relative;
  margin: .5rem;

  &-image {
    border-radius: 3px;
    flex-shrink: 0;
    max-height: 200px;
    min-width: 100px;
    min-height: 100px;
  }

  &-remove {
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: .6;
    padding: 0px 5px;
  }

  &:hover &-remove {
    opacity: 1;
  }

}
