.BodyModification {
  &-remove {
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    width: 10%;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  &-select {
    width: 100%;
  }

  &-label {
    width: 90%;
  }

  &-location {
    display: inline-block;
    margin-right: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 30%;
  }

  .form-control {
    display: inline;
    width: 65%;
  }

  h6 {
    text-transform: capitalize;
  }
}

.ImageInput {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: .5rem;
  width: 100%;

  &-image {
    border-radius: 3px;
    flex-shrink: 0;
    margin-left: .5rem;
    max-height: 200px;
    max-width: 300px;
  }

  &-metadata {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    overflow: hidden;
    padding: .5rem;

    &.card {
      margin-bottom: 0;
    }
  }

  &-button {
    margin-top: auto;
    width: 6rem;
  }
}
