.StudioForm {
    img {
        width: 100%;
    }

    &-body {
        min-height: 400px;
    }

    .save-button {
        margin-right: 2rem;
    }

    .reset-button {
        margin-right: 1rem;
    }
}
