{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-prettier",
    "stylelint-config-standard",
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "indentation": 2,
    "selector-class-pattern": null,
    "property-no-vendor-prefix": null
  },
}
