.image-carousel {
  height: 100%;
  width: 100%;

  .image-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;

    .delete-image-overlay {
      left: 5px;
      position: absolute;
      top: 5px;
    }
  }

  &-img {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    width: 0;

    .LoadingIndicator {
      height: 100%;
    }

    img {
      border-radius: 3px;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .carousel {
    height: 80%;
    width: inherit;

    .slide {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .slider img {
      width: inherit;
    }
  }

  .slider-wrapper,
  .slider {
    height: 100%;
  }

  .prev-button {
    padding-left: 0;
  }

  .next-button {
    padding-right: 0;
  }

  .prev-button,
  .next-button {
    .fa-icon {
      height: 4rem;
      opacity: 40%;
      width: 2rem;
    }

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background-color: transparent;
      filter: drop-shadow(2px 2px 2px black);

      .fa-icon {
        opacity: 100%;
      }
    }
  }
}
