.fa-mars,
.fa-venus,
.fa-transgender-alt {
  margin-right: 0.25rem;
}

.fa-mars {
  color: #89cff0;
}

.fa-venus {
  color: #f38cac;
}

.fa-transgender-alt {
  color: #c8a2c8;
}

.scene-photo {
  min-height: 200px;
  padding: 0;

  &-element {
    width: 100%;
  }
}

.scene-performer {
  margin-right: 0.5rem;
}

.scene-tags {
  margin-top: 1rem;
}

.scene-tag-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin: 0;
  }
}
