/* Blueprint dark theme */

$primary: #137cbd;
$secondary: #394b59;
$success: #0f9960;
$warning: #d9822b;
$danger: #db3737;
$dark: #394b59;
$text-color: #f5f8fa;
$muted-gray: #bfccd6;
$text-muted: $muted-gray;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "dark": $dark,
);

@import "node_modules/bootstrap/scss/bootstrap";

:root {
  --bs-primary: #137cbd;
  --bs-secondary: #394b59;
  --bs-success: #0f9960;
  --bs-warning: #d9822b;
  --bs-danger: #db3737;
  --bs-body-bg: #202b33;
  --bs-dark: #394b59;
  --bs-dark-rgb: 57, 75, 89;
}

.table {
  color: #f5f8fa;

  --bs-table-bg: transparent;
  --bs-table-striped-bg: rgba(92 112 128 / 15%);
  --bs-table-striped-color: #f5f8fa;

  td {
    border: none;
    padding: 0.25rem 0.75rem;
    vertical-align: middle;

    &:first-child {
      padding-left: 1rem;
    }
  }
}

$link-color: #48aff0;
$link-hover-color: $link-color;
$pre-color: $text-color;
$popover-bg: var(--bs-secondary);
$dark-text: #182026;
$textfield-bg: rgba(16 22 26 / 30%);

.btn.active:not(.disabled),
.btn.active.minimal:not(.disabled) {
  background-color: rgba(138 155 168 / 30%);
  color: $text-color;
}

a,
.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.minimal,
button.minimal {
  background: none;
  border: none;
  color: $text-color;
  transition: none;

  &:hover {
    background: rgba(138 155 168 / 15%);
    color: $text-color;
  }

  &:active {
    background: rgba(138 155 168 / 30%);
    color: $text-color;
  }
}

hr {
  margin: 5px 0;
  background-color: rgba(0 0 0 / 10%);
  opacity: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.nav-tabs {
  border: none;
  margin: auto;
  margin-bottom: 0.5rem;

  .nav-link {
    border: none;
    color: $text-color;
    padding: 8px;

    &.active {
      background-color: transparent;
      border-bottom: 2px solid;
      color: $link-color;

      &:hover {
        border-bottom-color: $link-color;
        cursor: default;
      }
    }

    &:hover {
      border-bottom: 2px solid white;
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $text-color;

  &:hover {
    text-decoration: none;
  }
}

.tab-content {
  padding-bottom: 2rem;
}

.form-floating {
  .form-label {
    color: var(--bs-body-color);
  }
}

.form-control {
  &-plaintext {
    color: $text-color;
    margin: 0;
    padding: 0;

    option {
      color: black;
    }

    &::placeholder {
      color: transparent;
    }

    &:hover {
      cursor: default;
    }
  }
}

.popover {
  max-width: inherit;

  &-body {
    color: $text-color;
    white-space: pre-wrap;
  }
}

.modal {
  color: $dark-text;

  .modal-body,
  .modal-footer {
    background-color: rgb(235 241 245);
  }
}

.card {
  background-color: #30404d;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16 22 26 / 40%), 0 0 0 rgba(16 22 26 / 0%),
    0 0 0 rgba(16 22 26 / 0%);
  margin: 5px;
  overflow: hidden;
  padding: 0;
}

.page-link {
  background-color: var(--bs-secondary);
  border-bottom: none;
  border-left-color: var(--bs-body-bg);
  border-right-color: var(--bs-body-bg);
  border-top: none;
  color: white;
}

.page-link:hover,
.page-item.active .page-link {
  background-color: #2a3742;
  border-color: #25313a;
  color: white;
  z-index: 1;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-color: var(--bs-secondary);
}

.page-item.disabled .page-link {
  background-color: var(--bs-secondary);
  color: $gray-400;
}
