.performer-scenes {
    .card-body {
        padding: 0;
    }
}

.performer-table {
    margin-bottom: 0;
}

.performer-photo {
    height: 650px;
    text-align: center;
}

.performer-info {
    margin-bottom: 2rem;
}
