.PerformerCard {
  &-image {
    align-items: center;
    display: flex;
    height: 20rem;

    img {
      height: 100%;
      image-rendering: smooth;
      object-fit: cover;
      object-position: top;
      width: 100%;

      &[src=""] {
        display: none;
      }
    }
  }

  &-star {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
  }
}
