.SearchField {
  width: 400px;
  z-index: 5;

  .search-value {
    font-size: 14px;
    font-weight: 500;
  }

  .search-subvalue {
    font-size: 12px;
  }

  &-thumb {
    aspect-ratio: 2/3;
    height: 4rem;
    width: auto;
    object-fit: cover;
    margin-right: 0.5rem;
  }

  .react-select__menu-list {
    max-height: 600px;
  }
}
