.fa-mars,
.fa-venus,
.fa-transgender {
  margin-right: 0.25rem;
}

.fa-mars {
  color: #89cff0;
}

.fa-venus {
  color: #f38cac;
}

.fa-transgender {
  color: #c8a2c8;
}

.ScenePhoto {
  padding: 0;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.scene-performer {
  display: inline-block;
  margin-right: 0.5rem;
}

.scene-tags {
  margin-top: 1rem;
}

.scene-tag-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin: 0;
  }
}

.user-submitted {
  color: $success;
  margin-left: 0.5rem;
}
