@import "./styles/_theme.scss";
@import "./components/**/*.scss";

body {
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

a {
  //color: #48aff0;
  color: $text-color;
}

.input-control,
.text-input {
  border: 0;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  color: $text-color;

  &:focus {
    border: 0;
    box-shadow: 0 0 0 1px $primary, 0 0 0 1px $primary,
      0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
      inset 0 1px 1px rgba(16, 22, 26, 0.4);
    color: $text-color;
  }
}

.text-input,
.text-input:focus,
.text-input[readonly] {
  background-color: $textfield-bg;
}

.input-control,
.input-control:focus {
  background-color: $secondary;
}

textarea.text-input {
  line-height: 2.5ex;
  min-height: 12ex;
  overflow-y: scroll;
}

/* this is a bit of a hack, because we can't supply direct class names
   to the react-select controls */
/* stylelint-disable selector-class-pattern */

.react-select__control {
  background-color: $secondary;
  border-color: $secondary;
  color: $text-color;
  cursor: pointer;

  .react-select__single-value,
  .react-select__input {
    color: black;
  }

  .react-select__multi-value {
    background-color: $muted-gray;
    color: $text-color;
  }
}

div.react-select__menu {
  background-color: $secondary;
  color: $text-color;

  .react-select__option {
    color: $text-color;
  }

  .react-select__option--is-focused {
    background-color: #8a9ba826;
    cursor: pointer;
  }
}

.StashDBContent {
  margin: auto;
  max-width: 1200px;
  padding-top: 2rem;

  .card-body {
    padding: 0;
  }
}

.user-nav {
  margin-right: 2rem;
  padding: 0.5 1rem;
}

.card {
  margin-bottom: 1rem;
}

.card-footer,
.card-header {
  background-color: transparent;
  border: none;
}

.pagination {
  margin-left: auto;
  margin-right: 1rem;
}

a[aria-current] {
  font-weight: bold;
}

.btn {
  margin: 0.5rem;
}

label.is-invalid {
  .error-message {
    color: red;
  }
}

.LoginPrompt {
  height: 70vh;
  width: 960px;
}

.image-carousel {
  height: 100%;
  width: 100%;

  .carousel {
    height: 80%;
    width: inherit;

    .slide {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .slider img {
      width: inherit;
    }
  }

  .slider-wrapper,
  .slider {
    height: 100%;
  }
}
