@import "./styles/theme";
@import "./pages/home/styles";
@import "./pages/users/styles";
@import "./pages/performers/styles";
@import "./pages/scenes/styles";
@import "./pages/scenes/sceneForm/styles";
@import "./pages/studios/styles";
@import "./pages/search/search";
@import "./components/checkboxSelect/styles";
@import "./components/editCard/styles";
@import "./components/form/styles";
@import "./components/fragments/styles";
@import "./components/imageCarousel/styles";
@import "./components/imageChangeRow/styles";
@import "./components/list/styles";
@import "./components/performerCard/styles";
@import "./components/performerSelect/styles";
@import "./components/sceneCard/styles";
@import "./components/searchField/styles";
@import "./components/tagSelect/styles";
@import "./components/editImages/styles";
@import "./components/urlInput/styles";
@import "./components/image/styles";

/* this is a bit of a hack, because we can't supply direct class names
   to the react-select controls */
/* stylelint-disable selector-class-pattern */

.react-select__control {
  background-color: $secondary;
  border-color: $secondary;
  color: $text-color;
  cursor: pointer;

  .react-select__single-value,
  .react-select__input {
    color: black;
  }

  .react-select__multi-value {
    background-color: $muted-gray;
    color: $text-color;
  }
}

div.react-select__menu {
  background-color: $secondary;
  color: $text-color;

  .react-select__option {
    color: $text-color;
  }

  .react-select__option--is-focused {
    background-color: #8a9ba826;
    cursor: pointer;
  }
}

.LoginPrompt {
  height: 70vh;
  width: 960px;

  a {
    color: $link-color;
  }
}

.bullet-separator {
  &::before {
    content: "\2022";
    margin: 0 0.5rem;
  }
}

.PendingEditTab {
  color: $warning !important;
}

.MainContent {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.NarrowPage {
  margin: auto;
  max-width: 1200px;
}
