.PerformerForm {
    img {
        width: 100%;
    }

    label {
        font-weight: 500;
    }

    .save-button {
        margin-right: 2rem;
    }

    .reset-button {
        margin-right: 1rem;
    }
}
