.SceneCard {
  margin-bottom: 1rem;

  &-body {
    height: 150px;
    padding: 0;
  }

  &-image {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      object-position: top;
      width: 100%;
    }
  }

  &-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .card-footer {
    font-size: 0.8rem;
    padding: 0.75rem;
  }

  &-studio-name {
    max-width: 65%;
  }
}
