.SceneCard {
    margin-bottom: 1rem;

    &-body {
        height: 150px;
    }

    &-image {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .card-footer {
        font-size: .8rem;
    }
}
