.SceneCard {
  margin-bottom: 1rem;

  &:hover {
    text-decoration: none;

    .SceneCard-title {
      text-decoration: underline;
    }
  }

  .card {
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
  }

  &-body {
    height: 150px;
    padding: 0;
  }

  &-image {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    img {
      height: 100%;
      image-rendering: smooth;
      object-fit: cover;
      object-position: top;
      width: 100%;
    }
  }

  &-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .card-footer {
    font-size: 0.8rem;
    padding: 0.75rem 0;
  }

  &-studio-name {
    max-width: 65%;
  }
}
