.EditComment {
  background-color: $textfield-bg;
  margin-top: 1rem;

  .card-body {
    white-space: pre-wrap;
  }
}

.EditDiff {
  border-radius: 0.25rem;
  height: 100%;
  padding: 0.25rem 0.5rem;
}
