.SearchPage {
  &-input {
    font-size: 1.5rem;
    position: relative;

    .form-control {
      font-size: 1.5rem;
      padding-left: 2.5rem;
    }

    .fa-magnifying-glass {
      left: 0.6rem;
      position: absolute;
      top: 0.8rem;

      path {
        fill: $text-muted;
      }
    }
  }

  &-facets {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-right: auto;

    .badge {
      font-weight: normal;
      font-size: 0.85rem;
    }
  }

  &-performer,
  &-scene {
    display: block;

    .card {
      display: flex;
      flex-direction: row;
      padding: 10px;
    }

    &:hover {
      text-decoration: none;

      .card {
        background-color: #495b68;
      }
    }

    &-image {
      border-radius: 3px;
      flex-shrink: 0;
      object-fit: cover;

      &[src=""] {
        visibility: hidden;
      }
    }
  }

  &-performer-image {
    max-width: 4.67rem;
  }

  &-scene-image {
    width: 12.44rem;
  }

  .fa-icon {
    margin-right: 10px;
  }
}
